.intro{

  
  &__text{
    text-align: justify;
  }

  h1{
      
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1.5rem;
  }

  p{
    font-size: medium;
    line-height: 1.5;
    margin-bottom: 2.25rem;
  }

  &__image{
    background-image: url('/images/intro-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 30rem;

    }
  }
